@use "breakpoints";
@use "variables";

.accessibility-content {
  padding: 3rem 1rem;
  max-width: variables.$max-cont-width;
  margin: 0 auto;
  p {
    margin-bottom: 1.5rem;
  }
  h3 {
    text-align: center;
  }
  .accessibility-grid-container {
    @media screen and (min-width: breakpoints.$lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
    .accessibility-exceptions {
      @media screen and (min-width: breakpoints.$lg) {
        border-left: 0.125rem solid variables.$navy-blue;
        border-right: 0.125rem solid variables.$navy-blue;
        padding: 0 2rem;
      }
    }
  }
}
