@use "variables";
@use "breakpoints";

/* =============== featured articles main page styles ============= */
.featured-articles-section {
  padding: 1.5rem 1rem;
  max-width: 100rem;
  margin: variables.$def-margin;
  > h2 {
    margin-bottom: 2rem;
  }
}

.row-featured-articles {
  margin: variables.$def-margin;
  @media screen and (min-width: breakpoints.$md) {
    display: flex;
    flex-wrap: wrap;
    gap: 1.75rem;
  }
  .articles-card {
    margin: 1.5rem 0;
    header > img {
      height: 18rem;
      object-fit: cover;
      object-position: top;
      box-shadow: variables.$navy-blue -5px 7px 12px -2px;
      border-radius: 10px 10px 10px 10px;
    }
    &:last-of-type {
      margin: 0;
    }

    @media screen and (min-width: breakpoints.$md) {
      flex: 1 1 25rem;
      margin: 0;
    }
  }

  .article-body {
    margin-top: 1.5rem;
  }

  .article-title {
    margin-bottom: 1rem;
    > a {
      color: variables.$navy-blue;
      &:hover {
        color: variables.$bright-red;
      }
    }
  }
}

/* === view more articles button styles ===*/

.all-articles-btn {
  text-align: center;
  > a {
    font-size: clamp(1rem, 0.9494rem + 0.2532vw, 1.25rem);
    display: block;
    color: variables.$alternate-color;
    background-color: variables.$navy-blue;
    padding: 1rem;
    border-radius: 3px;
    margin: 3rem auto 0;
    width: calc(8rem + 2vw);
    transition: variables.$animation-all;
    &:hover {
      background-color: variables.$bright-red;
      text-decoration: underline;
    }
    @media screen and (min-width: breakpoints.$md) {
      margin-bottom: 0;
    }
  }
}
