@use "breakpoints";
@use "typography";
@use "variables";

// /* =============== autismtoday footer styles below here =============== */
.site-footer {
  color: variables.$alternate-color;
  .widget-title {
    margin-bottom: 0.75rem;
  }
  ul {
    line-height: 1.75;
  }
  background-color: variables.$navy-blue;
}

.autismtoday-footer {
  padding: 1.5rem 1rem;
  margin: 0 auto;
  max-width: variables.$max-cont-width;
  h3 {
    font-size: clamp(1.125rem, 0.4688rem + 1.25vw, 1.25rem);
  }
  /* ============= links are all grid in screen ========= */
  > .grid-row {
    margin: variables.$def-margin;
    display: grid;
    @media screen and (min-width: breakpoints.$md) {
      // max-width: variables.$min-cont-width;
      gap: 1.25rem;
      grid-template-columns: repeat(2, minmax(0, auto));
    }

    @media screen and (min-width: breakpoints.$lg) {
      max-width: variables.$max-cont-width;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (min-width: breakpoints.$xl) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

/* =========== top footer ========== */
.top-footer {
  margin-bottom: 3.25rem;
  img {
    width: 30rem;
    @media screen and (min-width: breakpoints.$md) {
      width: 25rem;
    }
    @media screen and (min-width: breakpoints.$lg) {
      width: 20rem;
    }
  }
}

/* =========== mid footer ========== */
.mid-footer {
  margin-bottom: 2.85rem;
  a {
    font-size: clamp(1rem, 0.6591rem + 0.9091vw, 1.125rem);
  }
}

/* =========== bottom footer ========== */
.bottom-footer {
  border-top: solid 2px #707070;
  margin-top: 2rem;
  padding: 1rem 0;
}

/* =========== social media ========== */
.soc-med {
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
  }

  > ul svg {
    width: 2rem;
    height: 2rem;
  }

  > ul .youtube-icon {
    width: 3rem;
    height: 3rem;
  }
}

/* ======= copyright ======== */
.copyright p {
  font-size: clamp(0.875rem, 0.6528rem + 1.1111vw, 1rem);
}

/* ======= for hiding the title not SR ===== */
.mid-col-three h3,
.mid-col-four h3 {
  visibility: hidden;
}
