@use "variables";
@use "breakpoints";

.pp-container {
  padding: 1.5rem 1rem;
  max-width: variables.$max-cont-width;
  margin: 0 auto;
  p {
    margin-bottom: 1.5rem;
  }
  ul {
    list-style-type: square;
  }
}
