@use "variables";
@use "breakpoints";

.search-content-container {
  max-width: variables.$max-cont-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .entry-title {
    a {
      text-transform: uppercase;
      color: variables.$bright-red;
    }
  }
  .post-thumbnail {
    img {
      width: 37.5rem;
      height: auto;
    }
  }
}

.search-header-container {
  padding: 0 1rem;
  .search-form-container {
    .search-form {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      label {
        .search-field {
          padding: 0.375rem 0.625rem;
          border-radius: variables.$border-radius-sm 0 0
            variables.$border-radius-sm;
          border: 0.0625rem solid variables.$navy-blue;
          outline: none;
          width: 100%;
        }
      }
      .search-submit {
        background-color: variables.$navy-blue;
        border-radius: 0 variables.$border-radius-sm variables.$border-radius-sm
          0;
        color: variables.$alternate-color;
        padding: 0.375rem 0.625rem;
        outline: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: variables.$animation-all;
        &:hover {
          background-color: variables.$bright-blue;
        }
      }
    }
  }
}

.search-results-container {
  padding: 3rem 1rem;
}

.content-none-container {
  margin: 0 auto;
  max-width: variables.$max-cont-width;
  padding: 6rem 1rem;
  p {
    text-align: center;
    font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
    margin-bottom: 3rem;
  }
  .search-form {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    label {
      .search-field {
        padding: 0.375rem 0.625rem;
        border-radius: variables.$border-radius-sm 0 0
          variables.$border-radius-sm;
        border: 0.0625rem solid variables.$navy-blue;
        outline: none;
        width: 100%;
      }
    }
    .search-submit {
      background-color: variables.$navy-blue;
      border-radius: 0 variables.$border-radius-sm variables.$border-radius-sm 0;
      color: variables.$alternate-color;
      padding: 0.375rem 0.625rem;
      outline: none;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: variables.$animation-all;
      &:hover {
        background-color: variables.$bright-blue;
      }
    }
  }
}
