@use 'variables';

/* ===== text footer styles ==== */
.site-footer a {
	text-decoration: none;
	&:active,
	&:visited {
		color: variables.$alternate-color;
	}
	&:hover {
		text-decoration: underline;
		color: variables.$light-green;
		font-weight: variables.$bold-500;
	}
	.autismtoday-footer h3 {
		font-size: clamp(1.125rem, 0.4688rem + 1.25vw, 1.25rem);
	}
}
