@use "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font;
  color: variables.$navy-blue;
  font-weight: bold;
}

body {
  font-family: variables.$content-font;
  font-weight: 400;
  color: variables.$navy-blue;
}

//  footer
footer a {
  text-decoration: none;
}

footer,
footer a,
footer a:active,
footer a:visited {
  color: variables.$alternate-color;
}

footer a:hover {
  text-decoration: underline;
  color: variables.$light-green;
  font-weight: variables.$bold-500;
}

footer h3 {
  color: variables.$alternate-color;
}
/* ===== text footer styles ==== */
.site-footer a {
  text-decoration: none;
  &:active,
  &:visited {
    color: variables.$alternate-color;
  }
  &:hover {
    text-decoration: underline;
    color: variables.$light-green;
    font-weight: variables.$bold-500;
  }
}
