$navy-blue: #13344a;
$bright-red: #ff6168;
$bright-blue: #12c0d8;
$light-green: #6cd899;
$content-font: "Work Sans", sans-serif;
$heading-font: "Playfair Display", serif;
$fallback-color: #000000;
$alternate-color: #ffffff;
// ---- added by ron
$def-margin: 0 auto;
$bold-500: 500;

// animation
$animation-all: all 0.3s ease-in-out;

// border styles
$border-radius-sm: 0.25rem;

// max width container
$max-cont-width: 1600px;
