/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*  global rules for whole page */
ul,
ol {
  margin: 0;
  padding: 0;
}

section a {
  text-decoration: none;
}

/* =============== 3 main pillar cards styles ============= */
/* === 3 main section === */
.main-pillars {
  padding: 1.5rem 1.25rem;
}
.main-pillars > h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 64rem) {
  .main-pillars {
    max-width: 100rem;
    margin: 0 auto;
  }
}

/* === 3 main pillar cards container === */
.card-pillar-container {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .card-pillar-container {
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 51.25rem;
  }
}
@media screen and (min-width: 64rem) {
  .card-pillar-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 85rem;
  }
}
@media screen and (min-width: 80rem) {
  .card-pillar-container {
    max-width: 100rem;
  }
}

/* === 3 main pillar individual cards === */
.pillar-card {
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: #7c8383 -5px 11px 12px 1px;
  max-width: 27rem;
  color: #13344b;
}
.pillar-card img {
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px 10px 0 0;
}
.pillar-card .title-pillar {
  margin: 1rem 0;
}
.pillar-card:nth-child(1n) {
  background-color: #12c0d8;
}
.pillar-card:nth-child(2n) {
  background-color: #6cd898;
}
.pillar-card .title-pillar,
.pillar-card > .pillar-body {
  padding: 0 1.25rem;
}
@media screen and (min-width: 48rem) {
  .pillar-card {
    max-width: 25rem;
  }
}
@media screen and (min-width: 64rem) {
  .pillar-card {
    max-width: 100%;
  }
}

/* === 3 main pillar header card === */
.pillar-header > img {
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px 10px 0 0;
}
@media screen and (min-width: 48rem) {
  .pillar-header > img {
    height: 16rem;
  }
}

/* === 3 main pillar card title === */
.title-pillar {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.title-pillar img {
  width: 4rem;
  height: 4rem;
}

/* === 3 main pillar card body === */
.pillar-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.pillar-body .pillar-card-text {
  /* for hovering, turn of the display and the overflow */
  display: -webkit-box !important; /* to display the ellipsis, you need to put the display */
  -webkit-line-clamp: 3; /* number of multilines to be displayed in textbox */
  -webkit-box-orient: vertical; /* orientation */
  white-space: normal; /* set to normal, don't go on nowrap */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.75rem;
  flex: 0 1 5rem;
}
.pillar-body a {
  align-self: center;
  background-color: #13344b;
  padding: 1rem;
  border-radius: 3px;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
.pillar-body a:hover {
  background-color: #ff6168;
  text-decoration: underline;
}
@media screen and (min-width: 48rem) {
  .pillar-body a {
    margin-bottom: 0;
    padding: 0.55rem;
  }
}

/* =============== featured articles styles ============= */
.featured-articles-section {
  padding: 1.5rem 1.25rem;
}
.featured-articles-section > h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 64rem) {
  .featured-articles-section {
    max-width: 100rem;
    margin: 0 auto;
  }
}

.row-featured-articles {
  margin: 0 auto;
}
@media screen and (min-width: 48rem) {
  .row-featured-articles {
    display: flex;
    flex-wrap: wrap;
    gap: 1.75rem;
  }
}
.row-featured-articles .articles-card {
  margin: 0 auto;
}
.row-featured-articles .articles-card header > img {
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  box-shadow: #13344b -5px 7px 12px -2px;
  border-radius: 10px 10px 10px 10px;
}
@media screen and (min-width: 48rem) {
  .row-featured-articles .articles-card {
    flex: 1 1 25rem;
  }
}
.row-featured-articles .article-body {
  margin-top: 1.5rem;
}
.row-featured-articles .article-title {
  margin-bottom: 1rem;
}
.row-featured-articles .article-title > a {
  color: #13344b;
}
.row-featured-articles .article-title > a:hover {
  color: #ff6168;
}

/* === mix classes with different styles === */
.title-pillar h3,
.pillar-body a {
  text-transform: uppercase;
}

.pillar-card-text,
.article-excerpt {
  font-size: clamp(1rem, 0.7778rem + 1.1111vw, 1.125rem);
}

/* ===== text footer styles ==== */
.site-footer a {
  text-decoration: none;
}
.site-footer a:active, .site-footer a:visited {
  color: #ffffff;
}
.site-footer a:hover {
  text-decoration: underline;
  color: #6cd898;
  font-weight: 500;
}
.site-footer a .autismtoday-footer h3 {
  font-size: clamp(1.125rem, 0.4688rem + 1.25vw, 1.25rem);
}

/* =============== autismtoday footer styles below here =============== */
.site-footer {
  color: #ffffff;
  background-color: #13344b;
}
.site-footer .widget-title {
  margin-bottom: 0.75rem;
}
.site-footer ul {
  line-height: 1.75;
}
@media screen and (min-width: 64rem) {
  .site-footer {
    padding: 5.25rem 10rem;
  }
}

.autismtoday-footer {
  padding: 1.25rem 1.5rem;
  /* ============= links are all grid in screen ========= */
}
.autismtoday-footer h3 {
  font-size: clamp(1.125rem, 0.4688rem + 1.25vw, 1.25rem);
}
.autismtoday-footer > .grid-row {
  margin: 0 auto;
  display: grid;
}
@media screen and (min-width: 48rem) {
  .autismtoday-footer > .grid-row {
    gap: 1.25rem;
    grid-template-columns: repeat(2, minmax(0, auto));
  }
}
@media screen and (min-width: 64rem) {
  .autismtoday-footer > .grid-row {
    max-width: 1600px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (min-width: 80rem) {
  .autismtoday-footer > .grid-row {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* =========== top footer ========== */
.top-footer {
  margin-bottom: 3.25rem;
}
.top-footer img {
  width: 30rem;
}
@media screen and (min-width: 48rem) {
  .top-footer img {
    width: 25rem;
  }
}
@media screen and (min-width: 64rem) {
  .top-footer img {
    width: 20rem;
  }
}

/* =========== mid footer ========== */
.mid-footer {
  margin-bottom: 2.85rem;
}
.mid-footer a {
  font-size: clamp(1rem, 0.6591rem + 0.9091vw, 1.125rem);
}

/* =========== bottom footer ========== */
.bottom-footer {
  border-top: solid 2px #707070;
  margin-top: 2rem;
  padding: 1rem 0;
}

/* =========== social media ========== */
.soc-med {
  text-align: center;
}
.soc-med ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.soc-med > ul svg {
  width: 2rem;
  height: 2rem;
}
.soc-med > ul .youtube-icon {
  width: 3rem;
  height: 3rem;
}

/* ======= copyright ======== */
.copyright p {
  font-size: clamp(0.875rem, 0.6528rem + 1.1111vw, 1rem);
}

/* ======= for hiding the title not SR ===== */
.mid-col-three h3,
.mid-col-four h3 {
  visibility: hidden;
}
/*# sourceMappingURL=styles.css.map */