/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  position: absolute;
  top: 0;
  left: -62499.9375rem;
  width: 0.0625rem;
  height: 0.0625rem;
  visibility: hidden;
}

h1 {
  margin-top: 1.5rem;
  text-align: center;
  line-height: 3rem;
  font-size: clamp(1.75rem, 1.625rem + 0.625vw, 2.25rem);
}

h2 {
  line-height: 3rem;
  font-size: clamp(1.5rem, 1.4375rem + 0.3125vw, 1.75rem);
}

h3 {
  line-height: 3rem;
  font-size: clamp(1.125rem, 1.0313rem + 0.4688vw, 1.5rem);
}

p,
li {
  font-size: clamp(1rem, 0.9688rem + 0.1563vw, 1.125rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #13344a;
  font-weight: bold;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #13344a;
}

footer a {
  text-decoration: none;
}

footer,
footer a,
footer a:active,
footer a:visited {
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
  color: #6bd999;
  font-weight: 500;
}

footer h3 {
  color: #ffffff;
}

.site-header {
  background-color: #13344a;
}

.header-container .full-logo,
.header-container .custom-logo-link {
  display: none;
}
@media screen and (min-width: 48rem) {
  .header-container .full-logo,
.header-container .custom-logo-link {
    display: block;
  }
}
.header-container .full-logo img,
.header-container .custom-logo-link img {
  width: 70%;
  margin: 0 auto;
}
@media screen and (min-width: 48rem) {
  .header-container .full-logo img,
.header-container .custom-logo-link img {
    height: 100%;
  }
}
.header-container .header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
@media screen and (min-width: 48rem) {
  .header-container .header-mobile {
    display: none;
  }
}
.header-container .header-mobile img {
  width: 4.0625rem;
}
@media screen and (min-width: 48rem) {
  .header-container .header-mobile img {
    display: none;
  }
}
.header-container .header-mobile .header-combo {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
  align-items: center;
}
.header-container .header-mobile .header-combo .donate-button {
  height: 2.25rem;
  background-color: #ff6168;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0 0.625rem;
  transition: all 0.3s ease-in-out;
}
.header-container .header-mobile .header-combo .donate-button:hover {
  background-color: #12c0d8;
}
.header-container .header-mobile .header-combo .toggle-icon {
  cursor: pointer;
}
.header-container .header-mobile .header-combo .toggle-icon span {
  width: 3rem;
  height: 0.5rem;
  display: block;
  background-color: #ffffff;
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}
.header-container .header-mobile .header-combo .toggle-icon span:not(:nth-child(3)) {
  margin-bottom: 0.375rem;
}

nav {
  min-width: 100%;
  background-color: #13344a;
  position: absolute;
  left: -100%;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 48rem) {
  nav {
    position: static;
  }
}
@media screen and (min-width: 48rem) {
  nav .menu-main-menu-container {
    background-color: #ffffff;
    border-bottom: 0.125rem solid #13344a;
  }
}
nav .main-menu {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
@media screen and (min-width: 48rem) {
  nav .main-menu {
    background-color: #ffffff;
    display: flex;
    gap: 0.5rem;
  }
}
nav .main-menu a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
nav .main-menu li a {
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 48rem) {
  nav .main-menu li a {
    color: #13344a;
  }
}
nav .main-menu li a:hover {
  background-color: #ffffff;
  color: #13344a;
}
nav .main-menu .nav-search {
  margin-left: auto;
}
nav .main-menu .donate-button-container {
  display: none;
}
@media screen and (min-width: 48rem) {
  nav .main-menu .donate-button-container {
    display: flex;
    align-items: center;
  }
}
nav .main-menu .donate-button-container a {
  background-color: #ff6168;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 0.875rem;
  transition: all 0.3s ease-in-out;
}
nav .main-menu .donate-button-container a:hover {
  background-color: #12c0d8;
}

.show .toggle-icon span:nth-child(2) {
  opacity: 0;
}
.show .toggle-icon span:first-child {
  transform: translateY(14px) rotate(45deg);
}
.show .toggle-icon span:last-child {
  transform: translateY(-14px) rotate(-45deg);
}

.show nav {
  left: 0;
  z-index: 10;
}

.searchwp-modal-form__content .search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.searchwp-modal-form__content .search-form label .search-field {
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 0.0625rem solid #13344a;
  outline: none;
  width: 100%;
  max-width: 31.25rem;
}
.searchwp-modal-form__content .search-form .search-submit {
  background-color: #13344a;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #ffffff;
  padding: 0.375rem 0.625rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.searchwp-modal-form__content .search-form .search-submit:hover {
  background-color: #12c0d8;
}

.led-container {
  margin-top: 1.5rem;
}
.led-container .led-tips {
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 1rem;
}
.led-container .led-tips .led-tips-inspiration {
  text-align: center;
  font-style: italic;
  padding: 3rem 0;
  width: 56.25rem;
  margin: 0 auto;
}
.led-container .led-tips h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.led-container .led-tips .led-tips-image {
  text-align: center;
}
.led-container .led-tips .led-tips-image img {
  width: 25rem;
  display: block;
  margin: auto;
}
.led-container .led-tips .led-tips-image p {
  margin-top: 1.5rem;
  font-weight: bold;
}
.led-container .led-tips .led-tips-container {
  padding: 1.5rem 0;
}
.led-container .led-tips .led-tips-container .led-tips-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .led-container .led-tips .led-tips-container .led-tips-grid {
    -moz-column-count: 2;
         column-count: 2;
  }
}
.led-container .led-tips .led-tips-container .led-tips-grid li {
  counter-increment: step-counter;
  margin-bottom: 1.5rem;
}
.led-container .led-tips .led-tips-container .led-tips-grid li span {
  font-weight: bold;
}
.led-container .led-tips .led-tips-container .led-tips-grid li::before {
  content: counter(step-counter);
  margin-right: 0.3125rem;
  background-color: #13344a;
  color: #6bd999;
  padding: 0.1875rem 0.5rem;
  border-radius: 0.1875rem;
}
.led-container .led-myths {
  background-color: #13344a;
  color: #ffffff;
}
.led-container .led-myths .led-myths-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 1rem;
}
.led-container .led-myths .led-myths-container h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}
.led-container .led-myths .led-myths-container .led-myths-grid {
  padding: 1.5rem 0;
  gap: 2rem;
}
.led-container .led-myths .led-myths-container .led-myths-grid div:not(:last-child) {
  margin-bottom: 1.5rem;
}
.led-container .led-myths .led-myths-container .led-myths-grid div p:first-child {
  font-weight: bold;
  color: #6bd999;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .led-container .led-myths .led-myths-container .led-myths-grid {
    -moz-column-count: 2;
         column-count: 2;
  }
}
.led-container .led-myths .led-myths-container .myths-video {
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
}

.about-us-container {
  color: #ffffff;
  padding: 3rem 0;
}
.about-us-container .about-us-members h2 {
  text-align: center;
}
.about-us-container .about-us-members .about-us-executives {
  padding: 1.5rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 40.625rem) {
  .about-us-container .about-us-members .about-us-executives {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 48rem) {
  .about-us-container .about-us-members .about-us-executives {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .about-us-container .about-us-members .about-us-executives {
    grid-template-columns: repeat(4, 1fr);
  }
}
.about-us-container .about-us-members .about-us-executives .about-us-executives-card {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}
.about-us-container .about-us-members .about-us-executives .about-us-executives-card img {
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
}
.about-us-container .about-us-members .about-us-executives .about-us-executives-card .exec-card-content {
  background-color: #13344a;
  padding: 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
}
.about-us-container .about-us-members .about-us-executives .about-us-executives-card .exec-card-content h3 {
  color: #ff6168;
  margin-bottom: 1.5rem;
}
.about-us-container .about-us-members .about-us-advisory {
  background-color: #13344a;
  padding: 1.5rem 1rem;
}
.about-us-container .about-us-members .about-us-advisory h2 {
  color: #12c0d8;
  margin-bottom: 1.5rem;
}
.about-us-container .about-us-members .about-us-advisory h3 {
  color: #6bd999;
}
.about-us-container .about-us-members .about-us-advisory .advisory-grid-container {
  display: grid;
  gap: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 40.625rem) {
  .about-us-container .about-us-members .about-us-advisory .advisory-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 48rem) {
  .about-us-container .about-us-members .about-us-advisory .advisory-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .about-us-container .about-us-members .about-us-advisory .advisory-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.about-us-container .mission-container {
  padding: 3rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
  color: #13344a;
}
.about-us-container .mission-container .mission-statement h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.about-us-container .mission-container .mission-objective h2 {
  margin: 1.5rem 0;
  text-align: center;
}
.about-us-container .mission-container .mission-objective .mission-objective-grid {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 64rem) {
  .about-us-container .mission-container .mission-objective .mission-objective-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.about-us-container .mission-container .other-missions .other-missions-grid {
  display: grid;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.about-us-container .mission-container .other-missions .other-missions-grid p:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 64rem) {
  .about-us-container .mission-container .other-missions .other-missions-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about-us-container .mission-container .other-missions .further-objectives p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.our-partners-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 1rem;
}
.our-partners-container .our-partners-group {
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .our-partners-container .our-partners-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contact-container .contact-form {
  padding: 3rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 48rem) {
  .contact-container .contact-form .contact-form-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.contact-container .contact-form .contact-form-control {
  margin-bottom: 1.5rem;
}
.contact-container .contact-form .contact-form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.contact-container .contact-form .contact-form-control textarea {
  resize: none;
  height: 6.25rem;
  height: 15.625rem;
}
.contact-container .contact-form .contact-form-control input,
.contact-container .contact-form .contact-form-control textarea {
  border: 0.0625rem solid #13344a;
  outline: none;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.375rem 0.625rem;
}
.contact-container .contact-form .contact-form-submit {
  text-align: center;
}
.contact-container .contact-form #contact-submit {
  width: 100%;
  max-width: 18rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  outline: 0;
  border: 0;
  background-color: #13344a;
  transition: all 0.3s ease-in-out;
  padding: 0.625rem 0;
  color: #ffffff;
}
.contact-container .contact-form #contact-submit:hover {
  background-color: #12c0d8;
}
.contact-container .contact-more-information {
  background-color: #13344a;
  color: #ffffff;
}
.contact-container .contact-more-information .contact-more-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}
.contact-container .contact-more-information .contact-more-container h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}
.contact-container .contact-more-information .contact-more-container .contact-list {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .contact-container .contact-more-information .contact-more-container .contact-list {
    text-align: center;
  }
}
.contact-container .contact-more-information .contact-more-container .contact-list > p {
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.contact-container .contact-more-information .contact-more-container .contact-list .contact-email p:nth-child(2), .contact-container .contact-more-information .contact-more-container .contact-list .contact-email p:nth-child(3) {
  font-weight: bold;
}
.contact-container .contact-more-information .contact-more-container .contact-more-grid {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .contact-container .contact-more-information .contact-more-container .contact-more-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.contact-container .contact-more-information .contact-more-container .contact-more-grid .contact-more-card {
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding: 1rem;
  color: #13344a;
  text-align: center;
}
.contact-container .contact-more-information .contact-more-container .contact-more-grid .contact-more-card p:nth-child(1), .contact-container .contact-more-information .contact-more-container .contact-more-grid .contact-more-card p:nth-child(3) {
  font-weight: bold;
}
.contact-container .contact-more-information .contact-more-container .contact-more-grid .contact-more-card p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.newsletter-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/newsletter.jpeg) center center no-repeat;
  background-size: cover;
}
.newsletter-container .newsletter-content {
  padding: 1.5rem 1rem;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}
.newsletter-container .newsletter-content h3 {
  width: 18.75rem;
  margin: 0 auto 1.5rem auto;
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1.125rem, 1.0313rem + 0.4688vw, 1.5rem);
}
@media screen and (min-width: 64rem) {
  .newsletter-container .newsletter-content h3 {
    margin: 0;
  }
}
.newsletter-container .newsletter-content p {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 64rem) {
  .newsletter-container .newsletter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.newsletter-container .newsletter-content .newsletter-form {
  background-color: #13344a;
  padding: 1rem;
  border-radius: 0.25rem;
  max-width: 25rem;
  margin: 0 auto;
}
@media screen and (min-width: 64rem) {
  .newsletter-container .newsletter-content .newsletter-form {
    margin: 0;
  }
}
.newsletter-container .newsletter-content .newsletter-form .newsletter-form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.newsletter-container .newsletter-content .newsletter-form .newsletter-form-control label {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5rem;
}
.newsletter-container .newsletter-content .newsletter-form .newsletter-form-control input {
  outline: 0;
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem;
  border: 0;
}
.newsletter-container .newsletter-content .newsletter-form .newsletter-submit {
  width: 100%;
  background-color: #ff6168;
  text-transform: uppercase;
  border-radius: 0.25rem;
  outline: 0;
  border: 0;
  padding: 0.375rem 0;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.newsletter-container .newsletter-content .newsletter-form .newsletter-submit:hover {
  background-color: #12c0d8;
}

.accessibility-content {
  padding: 3rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
}
.accessibility-content p {
  margin-bottom: 1.5rem;
}
.accessibility-content h3 {
  text-align: center;
}
@media screen and (min-width: 64rem) {
  .accessibility-content .accessibility-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 64rem) {
  .accessibility-content .accessibility-grid-container .accessibility-exceptions {
    border-left: 0.125rem solid #13344a;
    border-right: 0.125rem solid #13344a;
    padding: 0 2rem;
  }
}

.tac-container {
  padding: 1.5rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
}
.tac-container p:not(.registration-content) {
  margin-bottom: 1.5rem;
}
.tac-container .registration-content {
  font-weight: bold;
}

.pp-container {
  padding: 1.5rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
}
.pp-container p {
  margin-bottom: 1.5rem;
}
.pp-container ul {
  list-style-type: square;
}

.search-content-container {
  max-width: 1600px;
  margin: 0 auto;
}
.search-content-container:not(:last-child) {
  margin-bottom: 1.5rem;
}
.search-content-container .entry-title a {
  text-transform: uppercase;
  color: #ff6168;
}

.search-header-container {
  padding: 0 1rem;
}
.search-header-container .search-form-container .search-form {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.search-header-container .search-form-container .search-form label .search-field {
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 0.0625rem solid #13344a;
  outline: none;
  width: 100%;
}
.search-header-container .search-form-container .search-form .search-submit {
  background-color: #13344a;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #ffffff;
  padding: 0.375rem 0.625rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.search-header-container .search-form-container .search-form .search-submit:hover {
  background-color: #12c0d8;
}

.search-results-container {
  padding: 3rem 1rem;
}

.content-none-container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 6rem 1rem;
}
.content-none-container p {
  text-align: center;
  font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
  margin-bottom: 3rem;
}
.content-none-container .search-form {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.content-none-container .search-form label .search-field {
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 0.0625rem solid #13344a;
  outline: none;
  width: 100%;
}
.content-none-container .search-form .search-submit {
  background-color: #13344a;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #ffffff;
  padding: 0.375rem 0.625rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.content-none-container .search-form .search-submit:hover {
  background-color: #12c0d8;
}

.error-404-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/autismtoday/wp-content/uploads/2022/11/autism-today-pattern-scaled.webp) center center no-repeat;
  background-size: cover;
  color: #ffffff;
}
.error-404-bg .error-404-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 6rem 0;
}
.error-404-bg .error-404-container .page-header .error-404-title {
  padding: 0 1rem;
  color: #ffffff;
}
.error-404-bg .error-404-container .error-404-content {
  padding: 3rem 1rem;
  text-align: center;
}
.error-404-bg .error-404-container .error-404-content p {
  font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
  width: 100%;
  max-width: 28.125rem;
  margin: 0 auto 1.5rem auto;
}
.error-404-bg .error-404-container .error-404-content .search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.error-404-bg .error-404-container .error-404-content .search-form label .search-field {
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 0.0625rem solid #13344a;
  outline: none;
  width: 100%;
  max-width: 31.25rem;
}
.error-404-bg .error-404-container .error-404-content .search-form .search-submit {
  background-color: #13344a;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #ffffff;
  padding: 0.375rem 0.625rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.error-404-bg .error-404-container .error-404-content .search-form .search-submit:hover {
  background-color: #12c0d8;
}
.error-404-bg .error-404-container .error-404-content .error-404-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-404-bg .error-404-container .error-404-content .error-404-home-container .error-404-home {
  text-decoration: none;
  background-color: #13344a;
  padding: 0.375rem 1rem;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 9.375rem;
}
.error-404-bg .error-404-container .error-404-content .error-404-home-container .error-404-home:hover {
  background-color: #12c0d8;
}

.archive-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 1rem;
}
.archive-container .entry-header h2 a {
  color: #ff6168;
}
.archive-container .entry-meta a {
  color: #12c0d8;
}
/*# sourceMappingURL=styles.css.map */