/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*  global rules for whole page */
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

section a {
  text-decoration: none;
}

p,
span,
li {
  font-size: clamp(1rem, 0.9688rem + 0.1563vw, 1.125rem);
}

h4 {
  line-height: 3rem;
  font-size: clamp(1.125rem, 1.0938rem + 0.1563vw, 1.25rem);
}

span {
  font-size: clamp(1rem, 0.9688rem + 0.1563vw, 1.125rem);
}

p,
span {
  line-height: 1.5;
}

/* ======== single blog entry styles ============== */
.single-featart-content {
  margin: 0 auto;
  padding: 2rem;
  max-width: 100rem;
  /* for the flex of disabled wheelchair */
  /* for the flex of mobile */
  /* ==== quotes must be on short === */
}
.single-featart-content > .single-featart-title {
  position: absolute;
  visibility: hidden;
}
.single-featart-content .content-column,
.single-featart-content .content-straight {
  margin-bottom: 3rem;
}
@media screen and (min-width: 48rem) {
  .single-featart-content .content-column {
    display: grid;
    grid-template-areas: "media text-content";
    -moz-column-gap: 4.25rem;
         column-gap: 4.25rem;
    margin-bottom: 2.25rem;
  }
}
.single-featart-content .content-column > div:first-of-type {
  grid-area: media;
}
.single-featart-content .content-column > div:last-of-type {
  grid-area: text-content;
}
@media screen and (min-width: 48rem) {
  .single-featart-content .content-column-flex {
    display: flex;
    -moz-column-gap: 4.25rem;
         column-gap: 4.25rem;
    align-items: stretch;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 48rem) {
  .single-featart-content .content-column-flex-2 {
    display: flex;
    -moz-column-gap: 4.25rem;
         column-gap: 4.25rem;
    align-items: stretch;
  }
}
.single-featart-content .quote {
  margin: 1rem 0 0;
  font-style: italic;
}
@media screen and (min-width: 48rem) {
  .single-featart-content .quote {
    min-width: 46ch;
    max-width: 63ch;
  }
}
.single-featart-content a:hover,
.single-featart-content h2 {
  color: #6cd898;
}
.single-featart-content a {
  text-decoration: none;
}
.single-featart-content a:hover {
  text-decoration: underline;
}
.single-featart-content h3 {
  color: #13344b;
  text-transform: uppercase;
}
.single-featart-content p {
  margin-bottom: 20px;
}
.single-featart-content span {
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 48rem) {
  .single-featart-content img {
    min-width: 430px;
    max-width: 510px;
  }
}

/* ==== service dog list style ==== */
.service-dog-li:last-of-type {
  margin-bottom: 40px;
}
.service-dog-li::before {
  content: "";
  display: inline-block;
  border-left: 0.0625rem solid #13344a;
  width: 0.75rem;
  background-color: #13344a;
  height: 0.1875rem;
  position: relative;
  bottom: 0.1875rem;
  margin-right: 4px;
}

/* ======== featured articles single post pagination styles ===== */
.single-featart-navigation {
  margin-top: 2.25rem;
}
.single-featart-navigation a {
  background-color: #13344b;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  display: block;
}
.single-featart-navigation a:hover {
  background-color: #6cd898;
  text-decoration: underline;
  color: #13344b;
}
.single-featart-navigation > .pagination > li {
  margin-top: 1.5rem;
}
.single-featart-navigation > .pagination > li:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 48rem) {
  .single-featart-navigation > .pagination > li {
    margin: 0;
  }
}
@media screen and (min-width: 48rem) {
  .single-featart-navigation > .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.75rem;
  }
}

/* =============== 3 main pillar cards styles ============= */
/* === 3 main section === */
.main-pillars {
  padding: 1.5rem 1.25rem;
}
.main-pillars > h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 64rem) {
  .main-pillars {
    max-width: 100rem;
    margin: 0 auto;
  }
}

/* === 3 main pillar cards container === */
.card-pillar-container {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .card-pillar-container {
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 51.25rem;
  }
}
@media screen and (min-width: 64rem) {
  .card-pillar-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 85rem;
  }
}
@media screen and (min-width: 80rem) {
  .card-pillar-container {
    max-width: 100rem;
  }
}

/* === 3 main pillar individual cards === */
.pillar-card {
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: #7c8383 -5px 11px 12px 1px;
  max-width: 27rem;
  color: #13344b;
}
.pillar-card img {
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px 10px 0 0;
}
.pillar-card .title-pillar {
  margin: 1rem 0;
}
.pillar-card:nth-child(1n) {
  background-color: #12c0d8;
}
.pillar-card:nth-child(2n) {
  background-color: #6cd898;
}
.pillar-card .title-pillar,
.pillar-card > .pillar-body {
  padding: 0 1.25rem;
}
@media screen and (min-width: 48rem) {
  .pillar-card {
    max-width: 25rem;
  }
}
@media screen and (min-width: 64rem) {
  .pillar-card {
    max-width: 100%;
  }
}

/* === 3 main pillar header card === */
.pillar-header > img {
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px 10px 0 0;
}
@media screen and (min-width: 48rem) {
  .pillar-header > img {
    height: 16rem;
  }
}

/* === 3 main pillar card title === */
.title-pillar {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.title-pillar img {
  width: 4rem;
  height: 4rem;
}
.title-pillar h3 {
  line-height: 2rem;
  font-family: "Work Sans", sans-serif;
}

/* === 3 main pillar card body === */
.pillar-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.pillar-body .pillar-card-text {
  /* for hovering, turn of the display and the overflow */
  display: -webkit-box !important; /* to display the ellipsis, you need to put the display */
  -webkit-line-clamp: 3; /* number of multilines to be displayed in textbox */
  -webkit-box-orient: vertical; /* orientation */
  white-space: normal; /* set to normal, don't go on nowrap */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.75rem;
  flex: 0 1 5rem;
}
.pillar-body a {
  align-self: center;
  background-color: #13344b;
  padding: 1rem;
  border-radius: 3px;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
.pillar-body a:hover {
  background-color: #ff6168;
  text-decoration: underline;
}
@media screen and (min-width: 48rem) {
  .pillar-body a {
    margin-bottom: 0;
    padding: 0.55rem;
  }
}

/* =============== featured articles styles ============= */
.featured-articles-section {
  padding: 1.5rem 1.25rem;
}
.featured-articles-section > h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 64rem) {
  .featured-articles-section {
    margin: 0 auto;
  }
}

.row-featured-articles {
  margin: 0 auto;
}
@media screen and (min-width: 48rem) {
  .row-featured-articles {
    display: flex;
    flex-wrap: wrap;
    gap: 1.75rem;
  }
}
.row-featured-articles .articles-card {
  margin: 1.5rem 0;
}
.row-featured-articles .articles-card header > img {
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  box-shadow: #13344b -5px 7px 12px -2px;
  border-radius: 10px 10px 10px 10px;
}
.row-featured-articles .articles-card:last-of-type {
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .row-featured-articles .articles-card {
    flex: 1 1 25rem;
    margin: 0;
  }
}
.row-featured-articles .article-body {
  margin-top: 1.5rem;
}
.row-featured-articles .article-title {
  margin-bottom: 1rem;
}
.row-featured-articles .article-title > a {
  color: #13344b;
}
.row-featured-articles .article-title > a:hover {
  color: #ff6168;
}

/* === view more articles button styles ===*/
.all-articles-btn {
  text-align: center;
}
.all-articles-btn > a {
  font-size: clamp(1rem, 0.9494rem + 0.2532vw, 1.25rem);
  display: block;
  color: #ffffff;
  background-color: #13344b;
  padding: 1rem;
  border-radius: 3px;
  margin: 3rem auto 0;
  width: calc(8rem + 2vw);
}
.all-articles-btn > a:hover {
  background-color: #ff6168;
  text-decoration: underline;
}
@media screen and (min-width: 48rem) {
  .all-articles-btn > a {
    margin-bottom: 0;
  }
}

/* === mix classes with different styles === */
.title-pillar h3,
.pillar-body a {
  text-transform: uppercase;
}

.pillar-card-text,
.article-excerpt {
  font-size: clamp(1rem, 0.7778rem + 1.1111vw, 1.125rem);
}

/* =============== channel styles ============= */
.channel-banner > img {
  min-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.channel-section {
  padding: 1.5rem 1.25rem;
}
.channel-section > h1,
.channel-section h2,
.channel-section h3 {
  color: #ff6168;
}
.channel-section > h1 {
  text-align: left;
}
.channel-section > h2 {
  margin-bottom: 2rem;
}
.channel-section > p {
  max-width: 65ch;
  margin-bottom: 3rem;
}
@media screen and (min-width: 64rem) {
  .channel-section {
    max-width: 100rem;
    margin: 0 auto;
  }
}

/* ==== channel cards ===== */
.channel-cat {
  margin-bottom: 3rem;
}
.channel-cat .row-channel-cards {
  margin: 0 auto;
  /* === whole article clickable ====*/
}
@media screen and (min-width: 48rem) {
  .channel-cat .row-channel-cards {
    display: grid;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 48rem) {
  .channel-cat .row-channel-cards {
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 64rem) {
  .channel-cat .row-channel-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.channel-cat .row-channel-cards .article-clickable {
  color: #13344b;
}
.channel-cat .row-channel-cards .article-clickable:hover {
  color: #ff6168;
  text-decoration: underline;
}
.channel-cat .row-channel-cards .channel-card {
  margin: 1.5rem 0;
}
.channel-cat .row-channel-cards .channel-card header > img {
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  box-shadow: #ff6168 -5px 7px 15px -4px;
  border-radius: 10px 10px 10px 10px;
}
@media screen and (min-width: 48rem) {
  .channel-cat .row-channel-cards .channel-card {
    margin: 0;
  }
}
.channel-cat .row-channel-cards .channel-body {
  margin-top: 1.5rem;
}
.channel-cat .row-channel-cards .channel-title {
  margin-bottom: 1rem;
}

/* ====== single channel blog styles ====== */
.single-channel-content {
  margin: 0 auto;
  padding: 32px;
  max-width: 1600px;
  /* for emotiplay videos only */
  /* just for Michael Tanzer styling */
  /* for Sky Canyon styling */
  /* ======== channel single post pagination styles ===== */
}
.single-channel-content > .single-channel-title {
  position: absolute;
  visibility: hidden;
}
.single-channel-content .content-column {
  margin-bottom: 48px;
}
@media screen and (min-width: 48rem) {
  .single-channel-content .content-column {
    display: grid;
    grid-template-areas: "media text-content";
    -moz-column-gap: 68px;
         column-gap: 68px;
    margin-bottom: 36px;
  }
}
.single-channel-content .content-column > div:first-of-type {
  grid-area: media;
}
.single-channel-content .content-column > div:last-of-type {
  grid-area: text-content;
}
.single-channel-content a:hover,
.single-channel-content h2 {
  color: #ff6168;
}
.single-channel-content a {
  text-decoration: none;
}
.single-channel-content a:hover {
  text-decoration: underline;
}
.single-channel-content h3 {
  color: #13344b;
  text-transform: uppercase;
}
.single-channel-content p {
  margin-bottom: 1.25rem;
}
.single-channel-content span {
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 48rem) {
  .single-channel-content img,
.single-channel-content .video-channel {
    min-width: 26.875rem;
    max-width: 31.875rem;
  }
}
.single-channel-content .channel-first-image,
.single-channel-content .video-channel {
  margin-bottom: 28px;
}
@media screen and (min-width: 48rem) {
  .single-channel-content .channel-first-image,
.single-channel-content .video-channel {
    margin-bottom: 0;
  }
}
.single-channel-content .video-channels {
  max-width: 56.25rem;
}
.single-channel-content .video-channels > div {
  margin-bottom: 2rem;
}
.single-channel-content .video-channels > div:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 64rem) {
  .single-channel-content .emotiplay-videos {
    display: flex;
    gap: 1.25rem;
    flex-flow: row wrap;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-bottom: 2rem;
  }
  .single-channel-content .emotiplay-videos > div {
    flex: 1 1 25rem;
  }
}
.single-channel-content .michael-media {
  margin-top: 3.25rem;
}
.single-channel-content .michael-media > div {
  margin-bottom: 2rem;
}
.single-channel-content .michael-media > div:last-of-type {
  margin-bottom: 0;
  display: inline-block;
}
.single-channel-content .michael-media > div .michaelism {
  width: calc(15rem + 2vw);
}
.single-channel-content .michael-media > div .michael-podcast {
  border-radius: 12px;
  min-width: 16.25rem;
  max-width: 42.5rem;
}
.single-channel-content .sky-canyon-content {
  -moz-column-gap: 3.25rem;
       column-gap: 3.25rem;
}
.single-channel-content .sky-img {
  width: 16rem;
  max-width: 20rem;
}
.single-channel-content .sky-podcast > a {
  display: block;
  padding: 0.75rem 1rem;
  margin-bottom: 2.5rem;
  background-color: #13344b;
  color: white;
  font-size: clamp(1rem, 0.9688rem + 0.1563vw, 1.125rem);
  font-weight: 500;
}
.single-channel-content .sky-podcast > a:hover {
  text-decoration: underline;
  background-color: #ff6168;
}
@media screen and (min-width: 20rem) {
  .single-channel-content .sky-podcast > a {
    width: calc(12rem + 3vw);
    max-width: 13.75rem;
  }
}
.single-channel-content .sky-podcast > iframe {
  border-radius: 12px;
  height: 12.5rem;
  width: 29rem;
  max-width: 100%;
}
@media screen and (min-width: 48rem) {
  .single-channel-content .sky-podcast > iframe {
    width: 30.625rem;
    height: 17.5rem;
  }
}
.single-channel-content .single-channel-navigation {
  margin-top: 2.25rem;
}
.single-channel-content .single-channel-navigation a {
  background-color: #13344b;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  display: block;
}
.single-channel-content .single-channel-navigation a:hover {
  background-color: #ff6168;
  text-decoration: underline;
}
.single-channel-content .single-channel-navigation > .pagination > li {
  margin-top: 1.5rem;
}
.single-channel-content .single-channel-navigation > .pagination > li:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 48rem) {
  .single-channel-content .single-channel-navigation > .pagination > li {
    margin: 0;
  }
}
@media screen and (min-width: 48rem) {
  .single-channel-content .single-channel-navigation > .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.75rem;
  }
}

/* =============== arts styles ============= */
.arts-banner > img {
  min-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.arts-section {
  padding: 1.5rem 1.25rem;
}
.arts-section > h1,
.arts-section h2,
.arts-section h3 {
  color: #12c0d8;
}
.arts-section > h1 {
  text-align: left;
}
.arts-section > h2 {
  margin-bottom: 2rem;
}
.arts-section > p {
  max-width: 65ch;
  margin-bottom: 3rem;
}
@media screen and (min-width: 64rem) {
  .arts-section {
    max-width: 100rem;
    margin: 0 auto;
  }
}

/* ==== arts cards ===== */
.art-cat {
  margin-bottom: 1.5rem;
}
.art-cat .row-arts-cards {
  margin: 0 auto;
  /* === whole article clickable ====*/
}
@media screen and (min-width: 48rem) {
  .art-cat .row-arts-cards {
    display: grid;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 48rem) {
  .art-cat .row-arts-cards {
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 64rem) {
  .art-cat .row-arts-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.art-cat .row-arts-cards .article-clickable {
  color: #13344b;
  text-decoration: none;
}
.art-cat .row-arts-cards .article-clickable:hover {
  color: #12c0d8;
  text-decoration: underline;
}
.art-cat .row-arts-cards .arts-card {
  margin: 1.5rem 0;
}
.art-cat .row-arts-cards .arts-card header > img {
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  box-shadow: #12c0d8 -5px 7px 15px -4px;
  border-radius: 10px 10px 10px 10px;
}
@media screen and (min-width: 48rem) {
  .art-cat .row-arts-cards .arts-card {
    margin: 0;
  }
}
.art-cat .row-arts-cards .arts-body {
  margin-top: 1.5rem;
}
.art-cat .row-arts-cards .arts-title {
  margin-bottom: 1rem;
}

/* ====== single arts blog styles ====== */
.single-arts-content {
  margin: 0 auto;
  padding: 32px;
  max-width: 1600px;
  /* just for Michael Tanzer styling */
  /* for Sky Canyon styling */
  /* ======== arts single post pagination styles ===== */
}
.single-arts-content > .single-arts-title {
  position: absolute;
  visibility: hidden;
}
.single-arts-content .content-column {
  margin-bottom: 48px;
}
@media screen and (min-width: 48rem) {
  .single-arts-content .content-column {
    display: grid;
    grid-template-areas: "media text-content";
    -moz-column-gap: 68px;
         column-gap: 68px;
    margin-bottom: 36px;
  }
}
.single-arts-content .content-column > div:first-of-type {
  grid-area: media;
}
.single-arts-content .content-column > div:last-of-type {
  grid-area: text-content;
}
.single-arts-content a:hover,
.single-arts-content h2 {
  color: #12c0d8;
}
.single-arts-content a {
  text-decoration: none;
}
.single-arts-content a:hover {
  text-decoration: underline;
}
.single-arts-content h3 {
  color: #13344b;
  text-transform: uppercase;
}
.single-arts-content p {
  margin-bottom: 1.25rem;
}
.single-arts-content span {
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 48rem) {
  .single-arts-content img,
.single-arts-content .video-channel {
    min-width: 26.875rem;
    max-width: 31.875rem;
  }
}
.single-arts-content .channel-first-image,
.single-arts-content .video-channel {
  margin-bottom: 28px;
}
@media screen and (min-width: 48rem) {
  .single-arts-content .channel-first-image,
.single-arts-content .video-channel {
    margin-bottom: 0;
  }
}
.single-arts-content .video-channels {
  max-width: 56.25rem;
}
.single-arts-content .video-channels > div {
  margin-bottom: 2rem;
}
.single-arts-content .video-channels > div:last-of-type {
  margin-bottom: 0;
}
.single-arts-content .michael-media {
  margin-top: 3.25rem;
}
.single-arts-content .michael-media > div {
  margin-bottom: 2rem;
}
.single-arts-content .michael-media > div:last-of-type {
  margin-bottom: 0;
  display: inline-block;
}
.single-arts-content .michael-media > div .michaelism {
  width: calc(15rem + 2vw);
}
.single-arts-content .michael-media > div .michael-podcast {
  border-radius: 12px;
  min-width: 16.25rem;
  max-width: 42.5rem;
}
.single-arts-content .sky-canyon-content {
  -moz-column-gap: 3.25rem;
       column-gap: 3.25rem;
}
.single-arts-content .sky-img {
  width: 16rem;
  max-width: 20rem;
}
.single-arts-content .sky-podcast > a {
  display: block;
  padding: 0.75rem 1rem;
  margin-bottom: 2.5rem;
  background-color: #13344b;
  color: white;
  font-size: clamp(1rem, 0.9688rem + 0.1563vw, 1.125rem);
  font-weight: 500;
}
.single-arts-content .sky-podcast > a:hover {
  text-decoration: underline;
  background-color: #12c0d8;
}
@media screen and (min-width: 20rem) {
  .single-arts-content .sky-podcast > a {
    width: calc(12rem + 3vw);
    max-width: 13.75rem;
  }
}
.single-arts-content .sky-podcast > iframe {
  border-radius: 12px;
  height: 12.5rem;
  width: 29rem;
}
@media screen and (min-width: 48rem) {
  .single-arts-content .sky-podcast > iframe {
    width: 30.625rem;
    height: 17.5rem;
  }
}
.single-arts-content .single-arts-navigation {
  margin-top: 2.25rem;
}
.single-arts-content .single-arts-navigation a {
  background-color: #13344b;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  display: block;
}
.single-arts-content .single-arts-navigation a:hover {
  background-color: #12c0d8;
  text-decoration: underline;
}
.single-arts-content .single-arts-navigation > .pagination > li {
  margin-top: 1.5rem;
}
.single-arts-content .single-arts-navigation > .pagination > li:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 48rem) {
  .single-arts-content .single-arts-navigation > .pagination > li {
    margin: 0;
  }
}
@media screen and (min-width: 48rem) {
  .single-arts-content .single-arts-navigation > .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.75rem;
  }
}

/* ===== text footer styles ==== */
.site-footer a {
  text-decoration: none;
}
.site-footer a:active, .site-footer a:visited {
  color: #ffffff;
}
.site-footer a:hover {
  text-decoration: underline;
  color: #6cd898;
  font-weight: 500;
}
.site-footer a .autismtoday-footer h3 {
  font-size: clamp(1.125rem, 0.4688rem + 1.25vw, 1.25rem);
}

/* =============== autismtoday footer styles below here =============== */
.site-footer {
  color: #ffffff;
  background-color: #13344b;
}
.site-footer .widget-title {
  margin-bottom: 0.75rem;
}
.site-footer ul {
  line-height: 1.75;
}

.autismtoday-footer {
  padding: 1.25rem 1.5rem;
  /* ============= links are all grid in screen ========= */
}
.autismtoday-footer h3 {
  font-size: clamp(1.125rem, 0.4688rem + 1.25vw, 1.25rem);
}
@media screen and (min-width: 64rem) {
  .autismtoday-footer {
    padding: 5.25rem 10rem;
  }
}
.autismtoday-footer > .grid-row {
  margin: 0 auto;
  display: grid;
}
@media screen and (min-width: 48rem) {
  .autismtoday-footer > .grid-row {
    gap: 1.25rem;
    grid-template-columns: repeat(2, minmax(0, auto));
  }
}
@media screen and (min-width: 64rem) {
  .autismtoday-footer > .grid-row {
    max-width: 1600px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (min-width: 80rem) {
  .autismtoday-footer > .grid-row {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* =========== top footer ========== */
.top-footer {
  margin-bottom: 3.25rem;
}
.top-footer img {
  width: 30rem;
}
@media screen and (min-width: 48rem) {
  .top-footer img {
    width: 25rem;
  }
}
@media screen and (min-width: 64rem) {
  .top-footer img {
    width: 20rem;
  }
}

/* =========== mid footer ========== */
.mid-footer {
  margin-bottom: 2.85rem;
}
.mid-footer a {
  font-size: clamp(1rem, 0.6591rem + 0.9091vw, 1.125rem);
}

/* =========== bottom footer ========== */
.bottom-footer {
  border-top: solid 2px #707070;
  margin-top: 2rem;
  padding: 1rem 0;
}

/* =========== social media ========== */
.soc-med {
  text-align: center;
}
.soc-med ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.soc-med > ul svg {
  width: 2rem;
  height: 2rem;
}
.soc-med > ul .youtube-icon {
  width: 3rem;
  height: 3rem;
}

/* ======= copyright ======== */
.copyright p {
  font-size: clamp(0.875rem, 0.6528rem + 1.1111vw, 1rem);
}

/* ======= for hiding the title not SR ===== */
.mid-col-three h3,
.mid-col-four h3 {
  visibility: hidden;
}
/*# sourceMappingURL=styles.css.map */